.loginForm_container{
    max-width: 1200px;
    display: flex;
    background-color: #f1f1f1;
    height: 600px;
    align-items: center;


}
.loginForm{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);


}
.loginForm h1{
    margin: 0 auto;
}
.form .input_container,.checkbox_container,.button_container{
    margin: 10px 5px 0 5px ;
}
.loginForm input{
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #f1f1f1;
}
.checkbox_container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.checkbox_container input[type="checkbox"]{

}
.checkbox_container span{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #666666;
}
.button_container button{
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    height: 25px;
    width: 100px;
    color: #ffffff;
    font-weight: bolder;
    background-color: tomato;
    border: none;
    outline: none;

}
.captha {
    margin: 10px 0 10px 0;

}
.captha input{
    margin-top: 10px;
}
.captha .captha_input{
    margin-top: 10px;
}
.button_container{
    display: flex;
    justify-content: space-between;
}


.button_container button:active{
    background-color: indianred;
}

.container_error{
    margin-top: 5px;
}
.commonerror{
    border: 1px solid tomato;
    display: inline-block;
    padding: 5px;
    margin: 10px 0 5px 0;
    color: red;
}

.error{
    color:red;
}
